*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* nav  */
nav {
    background-color: white;
    z-index: 10;
}

nav .container {
    display: flex;
    justify-content: space-between;
    padding-left: 0;

}

nav img {
    height: 20px;
    align-self: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 20px 10px;
    color:grey ;
}

nav ul li:hover {
    cursor: pointer;
    transition: 0.1s;
    animation: forwards;
    border-bottom:4px solid ;
}

nav button {
    height: 40px;
    align-self: center;
    padding: 2px 15px;
    border-radius: 25px;
    border: none;
    color: white;
    background-image: linear-gradient(to right, hsl(192, 70%, 51%) ,  hsl(136, 65%, 51%));
}

nav button a {
    text-decoration: none;
    color: white;
}

nav button:hover {
    opacity: 50%;
}


.intro {
    display: flex;
    padding-left: 8%;
    background-position-x:500px 200px  ;
}

.intro .left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro .left div {
    display: flex;
    flex-direction: column;
    align-content:flex-start;
    justify-content: center;
}

.intro .left h2 {
    font-size: 2.5rem;
}

.intro .left p {
    text-align: left;
    color:grey ;
}

.intro .left button {
    justify-content: flex-start;
    height: 40px;
    align-self: center;
    padding: 2px 15px;
    border-radius: 25px;
    border: none;
    color: white;
    background-image: linear-gradient(to right, hsl(192, 70%, 51%) ,  hsl(136, 65%, 51%));
}

.intro .left button a {
    text-decoration: none;
    color: white;
}

.intro .left button:hover {
    opacity: 50%;
}

.intro .right {
    width: 70%;
    height: 500px;
    background-image: url(./images/bg-intro-desktop.svg);
    background-position:50px -200px;
    background-repeat: no-repeat;
    background-size: 1000px;    
    z-index: 1;
}

.intro .right img {
    width:auto;  
    position:relative;
    top: -150px;
    right: -200px;
    z-index: 1;
}


.icon-container {
    padding-top: 150px;
    background-color:  hsl(0, 0%, 98%);
    z-index: -2;
}

.icon-container .container .icons {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.icon-container .container .icons .icon {
    margin: 5px;
    width: 25%;
}

.icon-container .container .icons .icon img {
    padding-bottom: 50px;
}

.icon-container .container .icons .icon h4 {
    padding-bottom: 30px;
}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }